.main-container {
  justify-content: center;
  padding: 5rem 1rem;
}

.error {
  color: crimson;
  font-size: smaller;
}

.highlight {
  background-color: rgba(199, 255, 198, .7);
  box-shadow: 0px 0px 20px rgb(199, 255, 198);
  border-radius: 25px;
}